bcrypt==3.1.7
blinker==1.4
click==8.0.3
colorama==0.4.3
cryptography==2.8
Flask==2.0.2
httplib2==0.14.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
simplejson==3.16.0
six==1.14.0
urllib3==1.25.8
Werkzeug==2.0.2
flask-sqlalchemy
psycopg2
flask_login
flask_bcrypt
flask_wtf
wtforms
email_validator